.game-frame {
	width: 100%;
	min-width: 1280px;
	min-height: 800px;
}

html,
body,
#root,
#container {
	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
}

#file {
	display: none;
}

#header {
	padding: 0.4rem;
	white-space: nowrap;
}

#game-container {
	margin-top: 0.4rem;
	flex: 10;
	overflow: hidden;
}

#game-frame {
	width: 100%;
	height: 100%;
}
