.game-frame {
	width: 100%;
	min-width: 1280px;
	min-height: 800px;
}

html,
body,
#root,
#container {
	height: 100%;
}

ol, ul {
	list-style-position: inherit;
	margin-left: 1.5rem;
}

#container {
	display: flex;
	flex-direction: column;
}

.panel {
	height: 98%;
	padding-bottom: 0.4rem;
}

#file {
	display: none;
}

#header {
	padding: 0.4rem;
	white-space: nowrap;
}

#game-container {
	margin-top: 0.4rem;
	flex: 10;
	overflow: hidden;
}

#game-frame {
	width: 100%;
	height: 100%;
}

.btn {
	vertical-align: initial;
}

.modal.active .modal-overlay, .modal:target .modal-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.control .rc-slider {
	display: inline-block;
	width: 20rem;
	margin-right: 1rem;
	padding-bottom: 0.5rem;
}

.control .rc-slider-disabled {
	background-color: inherit;
}

.control .rc-slider-track {
	height: 1rem;
	background-color: #4240d4;
	border-radius: 0;
}

.control .rc-slider-disabled .rc-slider-track {
	background-color: #cccccc;
}

.control .rc-slider-rail {
	height: 1rem;
	background-color: #cccccc;
	border-radius: 0;
}

.control .rc-slider-handle {
	height: 1.6rem;
	width: 0.4rem;
	border-radius: 0;
	margin-top: -0.3rem;
	border-color: #4240d4;
	box-shadow: none;
}

.control .rc-slider-disabled .rc-slider-handle {
	border-color: #cccccc;
}

.control button {
	border: none;
	cursor: pointer;
	background: transparent;
	background-size: contain !important;
	background-repeat: no-repeat;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 1rem;
	vertical-align: middle;
}

.control button:hover {
	opacity: 0.5;
}

.control button:hover, .control button:focus {
	background: transparent;
	box-shadow: none;
}

.control button[data-state=hidden] {
	display: none;
}
.control button[data-state=visible] {
	display: block;
}

/* Color changing filters generated by: https://codepen.io/sosuke/pen/Pjoqqp */

.control button[data-state="play"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300' xml:space='preserve'%3E%3Cpath d='M300 0H0v300h300V0zm-94.2 158.3-86.6 50c-1.3.8-2.8 1.1-4.3 1.1-4.7 0-8.5-3.8-8.5-8.5V101c0-3.1 1.6-5.9 4.3-7.4 2.6-1.5 5.9-1.5 8.6 0l86.6 50c2.6 1.5 4.3 4.3 4.3 7.4-.1 2.9-1.7 5.7-4.4 7.3z'/%3E%3C/svg%3E");
	filter: invert(60%) sepia(31%) saturate(1116%) hue-rotate(76deg) brightness(87%) contrast(84%);
}

.control button[data-state="pause"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300' xml:space='preserve'%3E%3Cpath d='M0 150v150h300V0H0v150zm164.6-44.5c0-9.5 7.7-17.2 17.2-17.2S199 96 199 105.5v89.1c0 9.5-7.7 17.2-17.2 17.2s-17.2-7.7-17.2-17.2v-89.1zm-64.6 0c0-9.5 7.7-17.2 17.2-17.2s17.2 7.7 17.2 17.2v89.1c0 9.5-7.7 17.2-17.2 17.2s-17.2-7.7-17.2-17.2v-89.1z'/%3E%3C/svg%3E");
	filter: invert(60%) sepia(31%) saturate(1116%) hue-rotate(76deg) brightness(87%) contrast(84%);
}

.control button[data-state="stop"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300' xml:space='preserve'%3E%3Cpath d='M0 150v150h300V0H0v150zm89.4-46.6c0-7.7 6.3-14 14-14h93.3c7.7 0 14 6.3 14 14v93.3c0 7.7-6.3 14-14 14h-93.3c-7.7 0-14-6.3-14-14v-93.3z'/%3E%3C/svg%3E");
	filter: invert(58%) sepia(83%) saturate(6031%) hue-rotate(7deg) brightness(96%) contrast(100%);
}

.control button[data-state="reload"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300' xml:space='preserve'%3E%3Cpath d='M0 150v150h300V0H0v150zm146.1-86.9c21.9 0 41.9 8.2 57.2 21.6l-13.6 23.6c-11-11.5-26.5-18.7-43.6-18.7-33.3 0-60.4 27.1-60.4 60.4s27.1 60.4 60.4 60.4c25.4 0 47.1-15.7 56-37.9h-20.8l36.2-62.6 36.2 62.6h-23.6c-9.9 37.1-43.8 64.5-84 64.5-47.9 0-86.9-39-86.9-86.9s39-87 86.9-87z'/%3E%3C/svg%3E");
	filter: invert(60%) sepia(31%) saturate(1116%) hue-rotate(76deg) brightness(87%) contrast(84%);
}
